<h2>Station Detail of {{asignatura.name}}</h2>

<div class="card text-white bg-secondary mb-3">
  <div class="card-header">{{asignatura.name}}</div>
  <span><img src="http://urbaninfluence.com/images/work/pronto/pronto-icon-bike.min.png"></span>

  <div class="card-body">
    <p><b>-    Id:</b> {{asignatura._id}} </p>
    <p><b>-    State:</b> {{asignatura.state}}</p>
    <p><b>-    Description:</b> {{asignatura.description}}</p>
  </div>
</div>

<p><p>
  <button class="btn btn-primary  btn-block" [routerLink]="['/subjectList/subjectBikes/:id', asignatura._id]"><i class="fa fa-eye"></i> See bikes from this station</button>
  <button class="btn btn-primary btn-block" [routerLink]="['/subjectBikes/:id']"><i class="fa fa-plus"></i>&nbsp;  Add bikes to this station</button>
</p>

<p>
  <button class="logout" [routerLink]="['/subjectList']"><i class="fa fa-toggle-left"></i>&nbsp;Back to all the stations</button>
  <b>--------------</b>
  <button class="logout" [routerLink]="['']"><i class="fa fa-toggle-left" aria-hidden="true"></i> Back to main menu</button>
</p>
