<h2>Bikes unassigned</h2>

  <div *ngFor = "let alumno of alumnos; let i=index, let asignatura of asignaturas">
  <input type="hidden" value="{{alumno.name}}">

  <p></p>
  <p><b>{{alumno.name}}         </b> <button class="btn btn-outline-info" (click)="addBikeStation(alumno._id , i)"><i class="fa fa-plus" aria-hidden="true"></i> </button></p>
  <p></p>

</div>

<p>
  <button class="logout" [routerLink]="['/subjectList']"><i class="fa fa-toggle-left"></i>&nbsp;Back to all the stations</button>
  <button class="logout" [routerLink]="['']"><i class="fa fa-toggle-left" aria-hidden="true"></i> Back to main menu</button>
</p>
